.interesting-links-container {
  margin-bottom: 46px;
  display: flex;
  
}

.interesting-link {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 12px;
}

.intresting-link-img {
  min-width: 100%;
  width: 120px;
}

.interesting-link-text {
  display: flex;
  flex-direction: column;
  color: var(--clr-very-dark-blue);
}

.interesting-link-number {
  color: var(--clr-grayish-blue);
  font-size: 32px;
  font-weight: var(--fw-bold);
}

.interesting-link-img-container {
  width: 120px;
}

.interesting-link-text > h3 {
  font-size: 18px;
}

.interesting-link-paragraph {
    color: var(--clr-grayish-dark-blue);
}

@media only screen and (max-width: 992px) {
  .interesting-links-container {
    display: initial
  }
}
