
.recent-articles-container {
    padding: 22px;
    background-color: var(--clr-very-dark-blue);
    margin-bottom: 56px;
  }
  
  .recent-articles-container > h2 {
    color: var(--clr-primary);
    font-size: 32px;
    font-weight: var(--fw-bold);
  }
  .recent-articles-container p {
    margin-bottom: 24px;
  }
  .recent-article:not(:last-child) {
    border-bottom: 1px solid hsla(36, 100%, 99%, 0.285);
    margin-bottom: 32px;
  }
  .recent-article > h3 {
    color: var(--clr-neutral-white);
  }
  