:root {
    --clr-primary: hsl(35, 77%, 62%);
    --clr-primary-btn: hsl(5, 85%, 63%);


    --clr-neutral-white: hsl(36, 100%, 99%);
    --clr-grayish-blue: hsl(233, 8%, 79%);
    --clr-grayish-dark-blue: hsl(236, 13%, 42%);
    --clr-very-dark-blue: hsl(240, 100%, 5%);

    --ff-primary: "Inter", sans-serif;
    --fw-regular: 400;
    --fw-bold: 700;
    --fw-very-bold: 900;
}

body {
    padding: 24px 14px;
    font-family:  var(--ff-primary)
}

p {
    color: var(--clr-grayish-dark-blue);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
